
*~

index.php


node_modules

# EVERYTHING BELOW HERE is legacy stuff that shouldn't be in git

0123.gif
3degrees
9f7j2Dz2W9
aboutCakePHP
aboutJQuery
advising
alsa
aot
application.htm
array-of-talks-web-site
at
atcns
atnew
AwesomeNextSteps
ba
blind.pdf
blindSBL.pdf
bpc09
bpcpriv
cal
callgraph2.png
callgraph.png
callgraph.ps
ccs
ccs140
cisc181
cmptgcs1a
combined.pdf
courses
cs
cs10
cs130e
cs140
cs16
cs196
cs1a
cs20
cs32
cs40
cs56
cs56_S12_0000539
cs5ja
cs5nm
cs8
cse230-franklin.pdf
cse230-franklin.ps
csed
css
curl
current.pdf
data
demo
dev
dot
dpea
eap
EERoadMap.pdf
emacs
erdos
evaluations
fap10
file.jpg
flyers
foo
#foo.bar#
foo.gif
foo.png
foo.txt
forDiana
fordiana.pptx
fordiana.pptx.pdf
gauchos
giflibdoc
github
github-jasen
githubPaper
glyphs.pdf
gmock
gshints
gsl
gtest
hairball_blind.pdf
hairball_notblind.pdf
howto
htaccess_for_foo
htaccess_for_foo~
images
index.html.backup

index.php~
jquery
jquery-1.3.2.js
jquery-1.3.2.min.js
karan
khan
klappholz
latexFirstPass.pdf
learnphp
letterI.gif
libcurl
light-simulator
LocalImages
magnets
main4.gif
main5.gif
main.pdf
makemodule.pdf
Mayan Numbers.ppt
notblind.pdf
notblindSBL.pdf
of
ofchrs
officehours
oscilout.gif
paper.pdf
papers
pconradHomePage.css
pconrad-qunit-demo
pconrad-qunit-demo-v2
php
phpInfo.php
plot.png
policies
PreReq.pdf
priv
q1.txt
q2.txt
rankings
ratings
review2011
rm
rocket.gif
rocket.pbm
sample
sbl
sblPaper
scratchPaper.pdf
scratchPaper.ps
screenshots
scripts
sctpbook
sigcse10.pdf
sigcse13.pc.08.31.5pm.tgz
smallDrawing.gif
sponge1.gif
sponge2.gif
src
submit
svg
svgdemos
tabusy
talks
temp8
test
test2.flac
test.flac
testInput.html
testInput.html~
test.pdf
test.php
test.png
test.ps
thinkpython
time.html
time.html~
time.php
time.php~
time.phps
time.phps~
topics
turnin
ucac
ucsb-cijs
udel
ugrad
untitled.html
weather
work



